@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --color-primary: hsl(1, 90%, 64%);
  --color-secondry: hsl(219, 85%, 26%);
  --color-white: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.mx-auto {
  margin: 0 auto;
}

.body .container {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .body .container {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .body .container {
    width: 100%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
.body {
  background-color: var(--Light-grayish-blue-2);
}

.main-area {
  background-color: var(--color-white);
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
@media (max-width: 768px) {
  .main-area {
    margin-top: 0;
  }
}
@media (max-width: 375px) {
  .main-area {
    border-radius: 0;
  }
}
.main-area .notification__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.main-area .notification__header h2 {
  color: var(--Very-dark-blue);
}
.main-area .notification__header h2 span,
.main-area .notification__header h2 .notification__count {
  color: var(--color-white);
  margin-left: 0.6rem;
  background-color: var(--color-secondry);
  padding: 0.1rem 0.4rem;
  font-size: medium;
  border-radius: 2px;
  text-align: center;
}
.main-area .notification__header p {
  color: var(--Grayish-blue);
  cursor: pointer;
}
.main-area .notification__header p:hover {
  color: var(--color-secondry);
}

.main-area .notifications {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-area .notifications .received__notifications {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.8rem;
}
.main-area .notifications .received__notifications .image img {
  width: 2.5rem;
  height: 2.5rem;
}
.main-area .notifications .received__notifications .details {
  display: flex;
  flex-direction: column;
}
.main-area .notifications .received__notifications .details .detail {
  display: flex;
  align-items: center;
  word-spacing: 2px;
  position: relative;
}
.main-area .notifications .received__notifications .details .detail .name {
  font-size: 0.9rem;
  cursor: pointer;
}
.main-area .notifications .received__notifications .details .detail .name .text {
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: 3px;
  color: var(--Dark-grayish-blue);
}
.main-area .notifications .received__notifications .details .detail .name .text .bold__text {
  cursor: pointer;
  font-weight: bold;
}
.main-area .notifications .received__notifications .details .detail .name .text .link {
  color: var(--color-secondry);
}
.main-area .notifications .received__notifications .details .detail .name .text .bold__text:hover {
  color: var(--color-secondry);
}
.main-area .notifications .received__notifications .details .detail .name i {
  font-size: 0.4rem;
  text-align: center;
  color: var(--color-primary);
}
.main-area .notifications .received__notifications .details .detail .name:hover {
  color: var(--color-secondry);
}
.main-area .notifications .received__notifications .details .time p {
  font-size: 0.7rem;
  color: var(--Dark-grayish-blue);
}
.main-area .notifications .active {
  background-color: var(--Light-grayish-blue-1);
  border-radius: 0.5rem;
}

.details__message .message p {
  border: 1px solid var(--Grayish-blue);
  font-size: 0.8rem;
  margin-top: 0.6rem;
  padding: 0.6rem 0.8rem;
  color: var(--Dark-grayish-blue);
  border-radius: 4px;
}

.details__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.details__image .comment_image img {
  width: 2.5rem;
  height: 2.5rem;
}/*# sourceMappingURL=style.css.map */